@tailwind base;
@tailwind components;
@tailwind utilities;


/* General rule for Webkit browsers */
*::-webkit-scrollbar {
    width: 0px;
}

/* Specific for Firefox */
* {
    scrollbar-width: none;
}

/* Specific for IE and older Edge versions */
* {
    -ms-overflow-style: none;
}
body{
  background-color: #0E0F0F;
}

body:is(.dark *) {
  background-color: #fff;
}

.loader {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }
  
  .loader circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dashoffset: -125px;
    }
  }